// color
$primary-color: #0954e5;
$secondary-color: #9ab9f4;
$gray-color: #687588;
$gray-500: #a0aec0;
$gray-semi-color: #e9eaec;
$gray-semibold-color: #323b49;
$gray-bold-color: #04074e;
$white: #fff;
$black: #000;

// default font-family
$font-family-sans-serif: "Manrope", serif;
$font-merryweather: "Merriweather", serif;
$font-lexend: "Lexend", serif;
